.button {
    padding: 0 0.7em;
    height: 2em;
    border-radius: 0.2em;
    cursor: pointer;
    border: none;

    background-color: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;

    transition: background-color 0.1s;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button:not(.fullwidth) span {
    margin: 0 0 0 0.2em;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.primary {
    background-color: rgb(18, 18, 18);
    color: white;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.12),0 2px 3px 0 rgba(0,0,0,.07),0 4px 9px 0 rgba(0,0,0,.05);
    border-radius: 5px;
    margin: 0 1em;
}

.primary:hover {
    background-color: rgb(40, 40, 40);
}

.secondary {
    color: rgb(0, 129, 242);
}

.secondary:hover {
    background-color: rgba(0, 129, 242, 0.15);
}

.primary.secondary {
    background-color: rgb(0, 129, 242);
    color: white;
}

.primary.secondary:hover{
    background-color: rgba(0, 129, 242, 0.7);
}

.grey {
    transition: color 0.4s;
}

.grey:not(:hover) {
    color: lightgrey;
}

.grey:hover {
    background-color: white;
}

.button.fullwidth {
    width: 100%;
    justify-content: start;
}

.button.disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.button.disabled:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.button.enabled {
    background-color: rgba(0, 129, 242, 0.2);
}
