.drop-file {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 245);

    width: 60vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 3.75rem;
}

.drop-file-inner {
    border-radius: 3.75rem;
    border: 5px dashed #9C9C9C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: calc(100% - 4em);
    height: calc(100% - 4em);
}

.drop-file-h2 {
    font-size: 1.875rem;
    max-height: 9em;
    overflow-y: auto;
    color: #9C9C9C;
    margin-top: 0.5rem;
}

.drop-file-p {
    margin-top: 0.5rem;
    color: #9C9C9C;
}

.input {
    font-size: 0;
}

.drop-file-img {
    display: block;
    height: 15vh;
    width: auto;
}

.input::file-selector-button {
    font-size: 1.25rem;
    padding-left: 0.2em;
    background-color: transparent;
    color: #0085FF;
    cursor: pointer;
    border: none;
}

.input::file-selector-button:hover {
    background-color: #5885AF;
    color: #00171F;
}

.success {
    margin-top: 1em;
    height: 2.5rem;
    color: rgb(145, 145, 142);
    font-weight: 500;
}

.error {
    margin-top: 1em;
    height: 2.5rem;
    color: rgb(201, 28, 82);
    font-weight: 500;
}
