.footer {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    padding-top: 5rem;
    min-height: 20rem;
}