.logo {
    position: relative;
    padding: 0 1rem;
    height: 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: 400;
}

.logo-text {
    white-space: nowrap;
}

.logo-img {
    position: absolute;
    height: 2em;
    width: fit-content;
    top: -1em;
    left: 0.6em;
}
