.navigation {
    width: 100vw;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    position: fixed;
    background-color: white;
}

.navigation-bb {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    height: 2em;
    width: fit-content;
}
.logo:hover {
     color: #F1F1EF;
 }

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-link {
    padding: 0 1em;
    cursor: pointer;
}

.nav-link:hover {
    color: #F1F1EF;
}
