* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  display: block;
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="submit"] {
  font-size: 2.5rem;
  background-color: #F1F1EF;
  border-radius: 0.625rem;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0.5rem 6rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9C9C9C;
}
