.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 8rem;
    text-align: center;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
    width: 100vw;
}

.mapImage{
    object-fit: contain;
}

.map {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
}

.mapCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.mapCard button {
    margin-top: 1rem;
}

.in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button:has(.yellow):hover .yellow {
    color: #ffc928;
}

button:has(.red):hover .red {
    color: #dc7575;
}

button:has(.green):hover .green {
    color: #81de81;
}

button:has(.purple):hover .purple {
    color: #a467ee;
}

.laurel {
    height: inherit;
}

.laurel-right {
    transform: scale(-1, 1);
}
