.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

.map {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.map line {
    cursor: pointer;
}

.train {
    width: 1em;
    height: 2em;
    background-color: red;
    border-radius: 0.1em;
    border: black 0.1em solid;
    margin: 0.2em;
}

.city {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background-color: black;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.city span {
    font-size: 0.7em;
    position: absolute;
    top: 2em;
    left: -1em;
    background-color: white;
    padding: 0.3em;
    border-radius: 0.3em;
}

.hand {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: 20vh;
    position: absolute;
    bottom: 0;
}

.hand .cards {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    overflow-x: auto;
    overflow-y: visible;
    padding-left: 4em;
}

.hand .cards .card {
    width: 5em;
    height: 7em;
    background-color: white;
    border-radius: 0.5em;
    border: black 0.1em solid;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(-15deg);
    margin-left: -2em;
    overflow-x: visible;
}

.hand .tasks {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    overflow-x: auto;
    overflow-y: visible;
    padding-right: 4em;
}

.hand .tasks .task {
    width: 5em;
    height: 7em;
    background-color: white;
    border-radius: 0.5em;
    border: black 0.1em solid;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(15deg);
    margin-right: -2em;
    overflow-x: visible;
}

.hand .task .award {
    display: flex;
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    border: black 0.1em solid;
    margin: 0.5em;
}

.hand .trains {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 10vw;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 4em;
    flex-wrap: wrap;
}

.player1 {
    position: absolute;
    top: 18vh;
    left: 50vw;
    background-color: yellow;
    border-radius: 0.5em;
    border: black 0.1em solid;
    padding: 0.5em;
}

.player2 {
    position: absolute;
    top: 22vh;
    left: 20vw;
    background-color: greenyellow;
    border-radius: 0.5em;
    border: black 0.1em solid;
    padding: 0.5em;
}

.player3 {
    position: absolute;
    top: 22vh;
    right: 20vw;
    background-color: cornflowerblue;
    border-radius: 0.5em;
    border: black 0.1em solid;
    padding: 0.5em;
}

.actions {
    position: absolute;
    top: 2vh;
    left: 2vw;
}

.leaderboard {
    position: absolute;
    top: 40vh;
    left: 5vw;
}

.leaderboard h1 {
    font-size: 2em;
}

.userPosition {
    padding: 1em;
    font-size: 1.5em;
}

.deckenopen {
    position: absolute;
    top: 40vh;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 25vw;
}

.deck {
    width: 5em;
    height: 7em;
    background-color: lightgrey;
    border-radius: 0.5em;
    border: black 0.1em solid;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.openCards {
    width: 5em;
    height: 7em;
    background-color: lightgrey;
    border-radius: 0.5em;
    border: black 0.1em solid;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.cityPossibleSteps {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -20vw;
    top: 5vh;
}

.cityPSCard {
    width: 5em;
    height: 7em;
    background-color: white;
    border-radius: 0.5em;
    border: black 0.1em solid;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
